{% extends 'base.html' %}



{% block body %}


    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-6">
                        <div class="slider_text">
                            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">{{jobs}}+ workshp listed</h5>
                            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your workshop & trraing</h3>
                            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide stundet workshop and traing  with the best companys</p>
                            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
                                <a href="{% url 'jobs:job_list'%}" class="boxed-btn3">Browse now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
            <img src="img/banner/illustration.png" alt="">
        </div>
    </div>
    <!-- slider_area_end -->



    <!-- popular_catagory_area_start  -->
    <div class="popular_catagory_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title mb-40">
                        <h3>Popolar Categories</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for x in catgory %}
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_catagory">
                        <a href="{% url 'jobs:job_list'%}"><h4>{{x}}</h4></a>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
    <!-- popular_catagory_area_end  -->

    <!-- job_listing_area_start  -->
    <div class="job_listing_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section_title">
                        <h3>workshop & traing</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="brouse_job text-right">
                        <a href="{% url 'jobs:job_list'%}" class="boxed-btn4">Browse More</a>
                    </div>
                </div>
            </div>
            <div class="job_lists">
                <div class="row">
                    {% for y in list %}
                    <div class="col-lg-12 col-md-12">
                        <div class="single_jobs white-bg d-flex justify-content-between">
                            <div class="jobs_left d-flex align-items-center">
                                <div class="thumb">
                                    <img src="{{y.owner.company_proflie.image.url}}" alt="" style="
                                    position: relative;
                                    left: -27px;
                                    bottom: 25px;
                                    border-radius: 25px;
                                    width: 100px;
                                    height: 100px;
                                " >
                                </div>
                                <div class="jobs_conetent">
                                    <a href="{% url 'jobs:job_detail' y.slug %}"><h4>{{y.owner}} - {{y}}</h4></a>
                                    <div class="links_locat d-flex align-items-center">
                                        <div class="location">
                                            <p> <i class="fa fa-map-marker"></i>{{y.owner.loction}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jobs_right">
                                <div class="apply_now">
                                    <a href="{% url 'jobs:job_detail' y.slug %}" class="boxed-btn3">Apply Now</a>
                                </div>
                                <div class="date">
                                    <p>{{y.published_at}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- job_listing_area_end  -->


    <div class="top_companies_area">
        <div class="container">
            <div class="row align-items-center mb-40">
                <div class="col-lg-6 col-md-6">
                    <div class="section_title">
                        <h3>Top Companies</h3>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="brouse_job text-right">
                        <a href="{% url 'jobs:job_list'%}" class="boxed-btn4">Browse More</a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for z in company %}
                <div class="col-lg-4 col-xl-3 col-md-6">
                    <div class="single_company">
                        <div class="thumb">
                            <img src="{{z.image.url}}" alt="" style="
                                    position: relative;
                                    top: -34px;
                                    left: -21px;
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 8px;
                            ">
                        </div>
                        <a href="jobs.html"><h3>{{z.user}}</h3></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock body %}